/* 현재 선택된 검색어 */
.autocomplete > div.active {
  background: #e0e5f6;
  color: #000;
}

.autocomplete > div {
background: #f1f3f499;
padding: 0.2rem 0.6rem;

}

section {
  width: 500px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .05);  
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  margin-top: 2rem;
}

.container {
  margin: 0 auto;
  width: 600px;
  border-radius: 15px;
  background-color: white;
  font-family: 'NanumSquare';
}

fieldset {
  margin: 20px;
  border: 0 solid black;
 }
 
#young {
  margin-top: 20px;
  margin-left: 0px;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
}

legend {
  color:rgb(255, 115, 50);
  border-radius: 15px;
}


[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

[type="radio"]:checked {
border: 0.4em solid rgb(255, 115, 50);
}

[type="radio"]:disabled {
background-color: lightgray;
box-shadow: none;
opacity: 0.7;
cursor: not-allowed;
}

[type="radio"]:disabled + span {
opacity: 0.7;
cursor: not-allowed;
}

[type="checkbox"] {
appearance: none;
border: max(2px, 0.1em) solid gray;
border-radius: 20%;
width: 1.25em;
height: 1.25em;
}

[type="checkbox"]:checked {
border: 0.625em solid rgb(255, 115, 50);
}

#loading {
height: 300px;
text-align: center;
font-family: 'NanumSquare';
}
