/* 현재 선택된 검색어 */
.autocomplete > div.active {
    background: #e0e5f6;
    color: #000;
  }


/* -------------------------- */
.autocomplete > div {
    background: #f1f3f499;
    padding: .2rem .6rem;
}

section {
    width: 500px;
    padding: 1.5rem 1.6rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .05);  
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    margin-top: 2rem;
}

