.container {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    font-family: 'NanumSquare';
  }
  
.box {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    grid-gap: 15px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-end;
}

.games {
width: 275px;
border-radius: 15px;
}

.gameimg {
    max-width: 80%; /* 이미지의 가로 크기가 부모 요소의 80%까지만 늘어남 */
    height: auto;
}